<ion-tabs>

  <ion-tab-bar *ngIf="getCurrentPage() !== 'login'" slot="bottom">
    <ion-tab-button tab="files">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Files</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="getCurrentPage() !== 'login'" tab="calendar">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="getCurrentPage() !== 'login'" tab="tab3">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
