<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Files </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Files</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="this.getData($event.target)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list style="padding: 0; margin: 0">
    <ion-item
      [disabled]="!canNavigateBack()"
      (click)="navigateBack()"
      class="clickable"
    >
      <ion-icon
        color="primary"
        style="padding-right: 0.5em"
        name="arrow-back-outline"
      ></ion-icon>
      <ion-label>Back</ion-label>
    </ion-item>
    <ion-item
      *ngFor="let folder of folders"
      class="clickable"
      (click)="navigateIntoFolder(folder)"
    >
      <ion-icon
        color="primary"
        style="padding-right: 0.5em"
        name="folder-outline"
      ></ion-icon>
      <ion-label>{{folder.Name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list style="padding: 0; margin: 0">
    <ion-item
      *ngFor="let file of files"
      class="clickable"
      (click)="openFileContext(file)"
    >
      <ion-icon
        color="primary"
        style="padding-right: 0.5em"
        [name]="getIconForType(file.Extension)"
      ></ion-icon>
      <ion-label>{{file.Name}}</ion-label>
      <ion-button fill="none" size="medium" (click)="onDownloadFile(file)">
        <ion-icon color="primary" name="cloud-download-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fileInput.click()">
      <ion-icon name="share"> </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <input
    hidden
    type="file"
    #fileInput
    (change)="onFileUpload(fileInput.files)"
  />
</ion-content>
