.clickable:hover {
  background-color: lightgrey;
  --ion-background-color: rgb(245, 251, 255);
}

.clickable {
  background-color: white;
  --ion-background-color: white;
}

.folder-modal {
  position: absolute;
  height: 50%;
  width: 50%;
  border-radius: 15px;
}
